*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    /* background-image: url(); */
    background-color:#05161a;
    display:grid;
    place-items:center;
    height:100vh;
    font-family:sans-serif;
}

.gallery { display:flex;
gap: 1 rem;
max-width:80 rem;
}

.card {
  position:relative;
  left: 0px;
  width:6rem;
  border-radius:1.2rem;
  height:20rem;
  overflow:hidden;
  background-color:var(--background);
  transition:0.4s ease-in-out;
  box-shadow:00 5px 12px rgba(0, 0, 0, 0.3);
  flex:0.25;
}

.card img {
  position: relative;
  height:20rem;
  object-fit:cover;
}
.card:hover{
  flex:2;
  font-weight: bold;
  cursor:pointer;
  border-radius: 1rem;
}

.card:nth-child(1) img {
left: -8rem;
}
.card:nth-child(2) img {
left: -6rem;
}
.card:nth-child(3) img {
left: -14rem;
}
.card:nth-child(4) img {
left: -8rem;
}
